<head>
    <meta charset="utf-8">
    <title>DeeWave</title>

    <link rel="stylesheet" href="<%= basepath %>dist/main.css" />

    <!--[if lt IE 9]>
        <script src="<%= basepath %>dist/es5-compat.js"></script>
        <script src="<%= basepath %>dist/es6-compat.js"></script>
    <![endif]-->
    <script type="text/javascript" src="<%= basepath %>dist/js/deewave.js"></script>
    <!--<script type="text/javascript" src="<%= basepath %>dist/.templates.js"></script>-->
</head>